In [37]:
from pymongo import MongoClient
## pprint library is used to make the ouput more pretty
from pprint import pprint
#connect to MongoDB, change the << MONGODB URL >> to reflect your own connection string
client = MongoClient()
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [38]:
db = client.basededonnee
collection = db.test_collection
db
collection

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'basededonnee'), 'test_collection')

In [39]:
#kaggle dataset pour importer le csv de mails
import kaggle
kaggle.api.authenticate()
kaggle.api.dataset_download_files('wcukierski/enron-email-dataset')

## loading the data

In [40]:
#essai de voir les datas et les mettre dans un dataframe
import pandas as pd

In [41]:
df = pd.read_csv('enron-email-dataset/emails.csv')
df.shape

(517401, 2)

In [54]:
#explore one message
df.head(5)
print(df['message'][3])

Message-ID: <13505866.1075863688222.JavaMail.evans@thyme>
Date: Mon, 23 Oct 2000 06:13:00 -0700 (PDT)
From: phillip.allen@enron.com
To: randall.gay@enron.com
Subject:
Mime-Version: 1.0
Content-Type: text/plain; charset=us-ascii
Content-Transfer-Encoding: 7bit
X-From: Phillip K Allen
X-To: Randall L Gay
X-cc:
X-bcc:
X-Folder: \Phillip_Allen_Dec2000\Notes Folders\'sent mail
X-Origin: Allen-P
X-FileName: pallen.nsf

Randy,

 Can you send me a schedule of the salary and level of everyone in the
scheduling group.  Plus your thoughts on any changes that need to be made.
(Patti S for example)

Phillip

In [58]:
pd.set_option('display.max_columns',len(df.columns))
df.head()

                       file                                            message
0     allen-p/_sent_mail/1.  Message-ID: <18782981.1075855378110.JavaMail.e...
1    allen-p/_sent_mail/10.  Message-ID: <15464986.1075855378456.JavaMail.e...
2   allen-p/_sent_mail/100.  Message-ID: <24216240.1075855687451.JavaMail.e...
3  allen-p/_sent_mail/1000.  Message-ID: <13505866.1075863688222.JavaMail.e...
4  allen-p/_sent_mail/1001.  Message-ID: <30922949.1075863688243.JavaMail.e...

In [61]:
## missing values or duplicate
df.isnull().count()
df.duplicated().count()

517401

## cleaning

In [78]:

#def get_text(Series, row_num_slicer):
#"return a serie with text sliced from a list split"
result = df.message
print(result)
#split the message when we go to an other line
for row , message in enumerate(df.message):
    message_words = message.split('\n')
    #print(message_words)
    #my message is splitted
    #print(message_words[2])
print(message_words[1])

0         Message-ID: <18782981.1075855378110.JavaMail.e...
1         Message-ID: <15464986.1075855378456.JavaMail.e...
2         Message-ID: <24216240.1075855687451.JavaMail.e...
3         Message-ID: <13505866.1075863688222.JavaMail.e...
4         Message-ID: <30922949.1075863688243.JavaMail.e...
                                ...
517396    Message-ID: <26807948.1075842029936.JavaMail.e...
517397    Message-ID: <25835861.1075842029959.JavaMail.e...
517398    Message-ID: <28979867.1075842029988.JavaMail.e...
517399    Message-ID: <22052556.1075842030013.JavaMail.e...
517400    Message-ID: <28618979.1075842030037.JavaMail.e...
Name: message, Length: 517401, dtype: object
Date: Mon, 26 Nov 2001 10:48:43 -0800 (PST)

In [85]:
## make a function that get only the text
def get_text(Series):
    
    """
    Series: df series
    Row_num_slicer: number of row that we have sliced
    return a Serie with text sliced that we split for each message
    
    """
    result = pd.Series()
    for row, message in enumerate(Series):
        message_words = message.split('\n')
        
    return message_words

In [96]:
#separate info and content parts 
def info_part(i):
    """
    split the message in 2 part 
    the maxsplit parameter to 1, will return a list with 2 elements
    return the info text parsing 
    """
    return i.split('\n\n', 1)[0]

In [97]:
def content_part(i):
    """
    return the content part out
    """
    return i.split('\n\n',1)[1]

### new method

In [113]:
import re

In [108]:
emaildf= pd.read_csv('enron-email-dataset/emails.csv')

In [110]:
emaildf.shape

(517401, 2)

In [111]:
#get metadata headers
#je split en 2 
headers = [email.split(': ', 1)[0] for email in emaildf.iloc[0]['message'].split('\n')[:15]]

In [112]:
print(headers)

['Message-ID', 'Date', 'From', 'To', 'Subject', 'Mime-Version', 'Content-Type', 'Content-Transfer-Encoding', 'X-From', 'X-To', 'X-cc', 'X-bcc', 'X-Folder', 'X-Origin', 'X-FileName']

In [114]:
#create a new column for every meta-data
for header in headers:
    emaildf[header]= emaildf.apply(lambda email : re.findall(rf'{header}:(.*)\n',email['message'])[0], axis=1)

In [127]:
emaildf.head()

                       file  ...                    X-FileName
0     allen-p/_sent_mail/1.  ...   pallen (Non-Privileged).pst
1    allen-p/_sent_mail/10.  ...   pallen (Non-Privileged).pst
2   allen-p/_sent_mail/100.  ...                    pallen.nsf
3  allen-p/_sent_mail/1000.  ...                    pallen.nsf
4  allen-p/_sent_mail/1001.  ...                    pallen.nsf

[5 rows x 17 columns]

In [129]:
#add email's content to a new column
emaildf['Body']= emaildf.apply(lambda email : ''.join(re.findall('\n\n(.*)', email['message'])),axis=1)

In [131]:
emaildf['Body'][1]

"Traveling to have a business meeting takes the fun out of the trip.  Especially if you have to prepare a presentation.  I would suggest holding the business plan meetings here then take a trip without any formal business meetings.  I would even try and get some honest opinions on whether a trip is even desired or necessary.As far as the business meetings, I think it would be more productive to try and stimulate discussions across the different groups about what is working and what is not.  Too often the presenter speaks and the others are quiet just waiting for their turn.   The meetings might be better if held in a round table discussion format.  My suggestion for where to go is Austin.  Play golf and rent a ski boat and jet ski's.  Flying somewhere takes too much time."

In [132]:
#now that we have a column for eachmetadat drop the "message" column
emaildf.drop(['message'], axis=1, inplace = True)

## put data on a database

In [138]:
#put the datas on Mongodb
#connect to mongoDB
from pymongo import MongoClient
client = MongoClient(port=27017)

#create database/collection
db= client.basededonnee
db.emails.drop()
collection = db['eron']
#transform dataframe to dictionnary
records_=emaildf.to_dict(orient='records')
#add many records
collection.insert_many(records_)

In [139]:
#getting a single document
collection.find_one()

{'_id': ObjectId('5e85b619affa6f27d9071cfa'),
 'file': 'allen-p/_sent_mail/1.',
 'Message-ID': ' <18782981.1075855378110.JavaMail.evans@thyme>',
 'Date': ' Mon, 14 May 2001 16:39:00 -0700 (PDT)',
 'From': ' phillip.allen@enron.com',
 'To': ' tim.belden@enron.com',
 'Subject': ' ',
 'Mime-Version': ' 1.0',
 'Content-Type': ' text/plain; charset=us-ascii',
 'Content-Transfer-Encoding': ' 7bit',
 'X-From': ' Phillip K Allen',
 'X-To': ' Tim Belden <Tim Belden/Enron@EnronXGate>',
 'X-cc': ' ',
 'X-bcc': ' ',
 'X-Folder': " \\Phillip_Allen_Jan2002_1\\Allen, Phillip K.\\'Sent Mail",
 'X-Origin': ' Allen-P',
 'X-FileName': ' pallen (Non-Privileged).pst',
 'Body': 'Here is our forecast '}

## BAG OF WORDS

In [143]:
#make a subdataset with 3000 rows
new_df = emaildf.iloc[:3000]

In [144]:
new_df.shape

(3000, 17)

In [145]:
new_df.head(5)

,file,...,Body
0,allen-p/_sent_mail/1.,...,Here is our forecast
1,allen-p/_sent_mail/10.,...,Traveling to have a business meeting takes the...
2,allen-p/_sent_mail/100.,...,test successful. way to go!!!
3,allen-p/_sent_mail/1000.,...,"Randy, Can you send me a schedule of the salar..."
4,allen-p/_sent_mail/1001.,...,Let's shoot for Tuesday at 11:45.

In [146]:
new_df.tail(5)

,file,...,Body
2995,allen-p/sent/76.,...,---------------------- Forwarded by Phillip K ...
2996,allen-p/sent/765.,...,"Randy, Can you send me a schedule of the salar..."
2997,allen-p/sent/766.,...,Let's shoot for Tuesday at 11:45.
2998,allen-p/sent/767.,...,"Greg, How about either next Tuesday or Thursda..."
2999,allen-p/sent/768.,...,Please cc the following distribution list with...

In [148]:
!pip install nltk

Collecting nltk
  Downloading nltk-3.4.5.zip (1.5 MB)
Requirement already satisfied: six in c:\users\formation\anaconda3\envs\mongodb\lib\site-packages (from nltk) (1.14.0)
Building wheels for collected packages: nltk
  Building wheel for nltk (setup.py): started
  Building wheel for nltk (setup.py): finished with status 'done'
  Created wheel for nltk: filename=nltk-3.4.5-py3-none-any.whl size=1449911 sha256=02c707349dea71cef8fec43612584f583b0042741b69aee3b5fe99b44183d049
  Stored in directory: c:\users\formation\appdata\local\pip\cache\wheels\48\8b\7f\473521e0c731c6566d631b281f323842bbda9bd819eb9a3ead
Successfully built nltk
Installing collected packages: nltk
Successfully installed nltk-3.4.5

In [149]:
#import libraries for nlp
from nltk import word_tokenize

In [150]:
new_df['Body'][0]

'Here is our forecast '

In [151]:
firt_row = new_df['Body'][0]

In [152]:
firt_row.split()

['Here', 'is', 'our', 'forecast']

In [173]:
df_exped = new_df.groupby('From')

In [175]:
df_exped.From.head(5)

0        phillip.allen@enron.com
1        phillip.allen@enron.com
2        phillip.allen@enron.com
3        phillip.allen@enron.com
4        phillip.allen@enron.com
                  ...
2120          k..allen@enron.com
2121          k..allen@enron.com
2122          k..allen@enron.com
2123          k..allen@enron.com
2369        pam.butler@enron.com
Name: From, Length: 431, dtype: object

In [153]:
#make a new colum with the content of mail splitted
new_df['Body_split']= new_df['Boder '].str.split()

C:\Users\Formation\Anaconda3\envs\mongodb\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [156]:
new_df['Body_split'].head(5)

0                            [Here, is, our, forecast]
1    [Traveling, to, have, a, business, meeting, ta...
2                  [test, successful., way, to, go!!!]
3    [Randy,, Can, you, send, me, a, schedule, of, ...
4             [Let's, shoot, for, Tuesday, at, 11:45.]
Name: Body_split, dtype: object

In [157]:
new_df.columns

Index(['file', 'Message-ID', 'Date', 'From', 'To', 'Subject', 'Mime-Version',
       'Content-Type', 'Content-Transfer-Encoding', 'X-From', 'X-To', 'X-cc',
       'X-bcc', 'X-Folder', 'X-Origin', 'X-FileName', 'Body', 'Body_split'],
      dtype='object')

In [171]:
#grouper par expediteur
df_expe= new_df.groupby(['From']).count()
df_expe.head(5)

                                          file  ...  Body_split
From                                            ...
 1.11913372.-2@multexinvestornetwork.com     3  ...           3
 adrianne.engler@enron.com                   6  ...           6
 al.pollard@newpower.com                     1  ...           1
 alyse.herasimchuk@enron.com                 3  ...           3
 anchordesk_daily@anchordesk.zdlists.com    20  ...          20

[5 rows x 17 columns]

## refait à l'envers en faisant d'abord le regroupement par mail

In [177]:
from collections import Counter

In [178]:
new_df.columns

Index(['file', 'Message-ID', 'Date', 'From', 'To', 'Subject', 'Mime-Version',
       'Content-Type', 'Content-Transfer-Encoding', 'X-From', 'X-To', 'X-cc',
       'X-bcc', 'X-Folder', 'X-Origin', 'X-FileName', 'Body', 'Body_split'],
      dtype='object')

In [179]:
new_df.drop(['Body_split'], axis=1, inplace=True)

C:\Users\Formation\Anaconda3\envs\mongodb\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [181]:
new_df.columns

Index(['file', 'Message-ID', 'Date', 'From', 'To', 'Subject', 'Mime-Version',
       'Content-Type', 'Content-Transfer-Encoding', 'X-From', 'X-To', 'X-cc',
       'X-bcc', 'X-Folder', 'X-Origin', 'X-FileName', 'Body'],
      dtype='object')

In [187]:
#new table with all words on emails joined
g=new_df.groupby('From')['Body'].agg(all_email = lambda x:''.join(x))

In [188]:
#print(g)

                                                                                  all_email
From
 1.11913372.-2@multexinvestornetwork.com  In today's Daily Update you'll find free repor...
 adrianne.engler@enron.com                Hi Phillip and Mike!Phillip/Mike - Phillip/Mik...
 al.pollard@newpower.com                  What is going on down the street?  Curious to ...
 alyse.herasimchuk@enron.com               Dear Associate / Analyst Committee:The follow...
 anchordesk_daily@anchordesk.zdlists.com  _____________________DAVID COURSEY____________...
...                                                                                     ...
 winnerannouncements@info.iwon.com
 wise.counsel@lpl.com                     Greetings Phillip,I received your phone messag...
 yahoo-delivers@yahoo-inc.com             [IMAGE]masthead=09 Yahoo!=20May 2001New Featur...
 yevgeny.frolov@enron.com                 As discussed early today we hereby notify Acce...
 yild@zdemail.zdlists.com                 Y-Life Daily Bulletin: December 13, 2000Note: ...

[182 rows x 1 columns]

In [189]:
#split the words 
body_splitted= g['all_email'].str.split()

In [190]:
print(body_splitted)

From
 1.11913372.-2@multexinvestornetwork.com    [In, today's, Daily, Update, you'll, find, fre...
 adrianne.engler@enron.com                  [Hi, Phillip, and, Mike!Phillip/Mike, -, Phill...
 al.pollard@newpower.com                    [What, is, going, on, down, the, street?, Curi...
 alyse.herasimchuk@enron.com                [Dear, Associate, /, Analyst, Committee:The, f...
 anchordesk_daily@anchordesk.zdlists.com    [_____________________DAVID, COURSEY__________...
                                                                  ...
 winnerannouncements@info.iwon.com                                                         []
 wise.counsel@lpl.com                       [Greetings, Phillip,I, received, your, phone, ...
 yahoo-delivers@yahoo-inc.com               [[IMAGE]masthead=09, Yahoo!=20May, 2001New, Fe...
 yevgeny.frolov@enron.com                   [As, discussed, early, today, we, hereby, noti...
 yild@zdemail.zdlists.com                   [Y-Life, Daily, Bulletin:, December, 13,, 2000...
Name: all_email, Length: 182, dtype: object

In [194]:
#dictionnaire avec les mots les plus fréquents utilisés pour chaque email
word_freq={}
for exp in g.index:
    word_freq['%s'%exp]=Counter(body_splitted[exp]).most_common(3)

In [195]:
word_freq

{' 1.11913372.-2@multexinvestornetwork.com': [('to', 24),
  ('the', 24),
  ('of', 21)],
 ' adrianne.engler@enron.com': [('Phillip', 2), ('-', 2), ('Hi', 1)],
 ' al.pollard@newpower.com': [('you', 3), ('is', 2), ('going', 2)],
 ' alyse.herasimchuk@enron.com': [('/', 6), ('Analyst', 6), ('Dear', 3)],
 ' anchordesk_daily@anchordesk.zdlists.com': [('the', 81),
  ('to', 70),
  ('a', 45)],
 ' announce@inbox.nytimes.com': [('the', 45), ('a', 18), ('and', 15)],
 ' announcements.enron@enron.com': [('and', 8), ('to', 7), ('the', 6)],
 ' annualconference@prosrm.com': [('of', 14), ('and', 13), ('to', 12)],
 ' aod@newsdata.com': [('a', 16), ('this', 12), ('----', 10)],
 ' apkpcp@prodigy.net': [('give', 1), ('me', 1), ('your', 1)],
 ' arsystem@mailman.enron.com': [('this', 42), ('Please', 38), ('click', 38)],
 ' ashley.worthing@enron.com': [('report', 2), ('named:', 2), ('West', 2)],
 ' biliana.pehlivanova@enron.com': [('desk', 2), ('There', 1), ('are', 1)],
 ' billc@greenbuilder.com': [('other', 2), ('cool', 2), ('newsgroups', 2)],
 ' bmg_support@adm.chtah.com': [('[IMAGE]', 1)],
 ' bobregon@bga.com': [('AllWe', 2), ('are', 2), ('looking', 2)],
 ' bodyshop@enron.com': [('the', 6), ('ID', 5), ('to', 5)],
 ' book-news@amazon.com': [('Please', 1), ('note', 1), ('that', 1)],
 ' bounce-news-932653@lists.autoweb.com': [('the', 15),
  ('HREF=', 15),
  ('of', 12)],
 ' brad.jones@enron.com': [('Attached', 1), ('is', 1), ('the', 1)],
 ' c..aucoin@enron.com': [("KirkI've", 1), ('added', 1), ('my', 1)],
 ' c..gossett@enron.com': [('middle', 2), ('market', 2), ('orig.', 2)],
 ' calxa@aol.com': [('the', 10), ('site', 4), ('of', 4)],
 ' capcon@gmu.edu': [('Capitol', 3), ('Connection', 3), ('to', 2)],
 ' carole.frank@enron.com': [('The', 1), ('report', 1), ('named:', 1)],
 ' cbpres@austin.rr.com': [('excuse', 3), ('my', 3), ('oversight', 3)],
 ' cbssportsline.com_planters@mail.0mm.com': [],
 ' chad.landry@enron.com': [('you', 3), ('i', 3), ('could', 3)],
 ' chairman.office@enron.com': [('the', 6), ('and', 4), ('to', 4)],
 ' christi.nicolay@enron.com': [('the', 12), ('points', 9), ('I', 6)],
 ' clickathome@enron.com': [('TD{FONT-SIZE:', 1), ('10pt;', 1), ('COLOR:', 1)],
 ' cpa@oihost.net': [('index6', 1), ('[IMAGE]', 1)],
 ' cpa@opthome.com': [],
 ' cpa@optmails.com': [('credit', 5), ('you', 4), ('your', 4)],
 ' critical.notice@enron.com': [('Dec', 51), ('2000', 51), ('the', 36)],
 ' customer_service@pmail.feer.com': [('[IMAGE]', 2)],
 ' customerservice@chaseplatinum.po-1.com': [('for', 3),
  ('to', 3),
  ('your', 3)],
 ' customerservice@tdwaterhouse.com': [],
 ' d1131c2e-3c2c-40c2-bb3b-685d6a0d2700@autotoolbox.net': [],
 ' david.oxley@enron.com': [('the', 68), ('of', 53), ('is', 23)],
 ' david.port@enron.com': [('-----Original', 2),
  ('Phillip', 1),
  ('Message-----', 1)],
 ' davidsmith@open2win.oi3.net': [('Life', 1),
  ('Insurance', 1),
  ('Banner', 1)],
 ' deanrodgers@kaseco.com': [('and', 7), ('to', 6), ('as', 3)],
 ' delivers@amazon.com': [('[IMAGE]', 1)],
 ' discount@open2win.oi3.net': [('This', 1), ('message', 1), ('was', 1)],
 ' dleduca714@yahoo.com': [('and', 5), ('TO', 4), ('you', 4)],
 ' dmallory@ftenergy.com': [],
 ' e-mail.center@wsj.com': [('to', 21), ('this', 21), ('from', 20)],
 ' edelivery@salomonsmithbarney.com': [('your', 65),
  ('Smith', 41),
  ('Barney', 41)],
 ' editor@hersweeps.com': [],
 ' editor@theb2bvoice.com': [('to', 5), ('in', 4), ('on', 4)],
 ' ei_editor@ftenergy.com': [('Energy', 18), ('Insight', 12), ('Close', 12)],
 ' ei_editor@platts.com': [('=20', 1), ('=20=20', 1)],
 ' enron_update@concureworkplace.com': [('for', 13),
  ('following', 8),
  ('reports', 5)],
 ' eservices@tdwaterhouse.com': [],
 ' exchange.administrator@enron.com': [('we', 9), ('I', 8), ('the', 7)],
 ' exclusive_ofers@sportsline.com': [],
 ' exclusive_offers@sportsline.com': [('<tr><td', 3),
  ('width="12"', 3),
  ('bgcolor="#FF0000"><spacer', 3)],
 ' frank.hayden@enron.com': [('the', 5), ('on', 4), ('to', 4)],
 ' geninfo@state-bank.com': [('your', 14), ('you', 12), ('and', 11)],
 ' gift@amazon.com': [],
 ' gifts@info.iwon.com': [('[IMAGE]', 1)],
 ' gousa6179@hotmail.kg': [('and', 16), ('the', 14), ('of', 11)],
 ' greg.whalley@enron.com': [('and', 8), ('the', 8), ('to', 6)],
 ' grensheltr@aol.com': [('a', 4), ('I', 4), ('the', 3)],
 ' gthorse@about-cis.com': [('$', 8), ('you', 5), ('the', 4)],
 ' gthorse@keyad.com': [('I', 11), ('to', 7), ('the', 6)],
 ' heather.dunton@enron.com': [('the', 8), ('to', 4), ('you', 2)],
 ' hunter.williams@grandecom.com': [('the', 2),
  ('Greg/Phillip,Attached', 1),
  ('is', 1)],
 ' important_phone_call@response.etracks.com': [],
 ' ina.rangel@enron.com': [('and', 19), ('for', 17), ('Review', 12)],
 ' info@open2win.roi1.net': [('[IMAGE]This', 1), ('message', 1), ('was', 1)],
 ' infousa4492@telkom.net': [('and', 15), ('the', 13), ('of', 11)],
 ' itsimazing@response.etracks.com': [('[IMAGE][IMAGE]', 1), ('[IMAGE]', 1)],
 ' iwon@info.iwon.com': [],
 ' james.bruce@enron.com': [('the', 6), ('of', 5), ('is', 5)],
 ' jeff.richter@enron.com': [('the', 4), ('is', 4), ('and', 3)],
 ' jeshett@yahoo.com': [('100', 6), ('nov', 6), ('gas', 6)],
 ' jfreeman@ssm.net': [('Hemp', 4), ('issue', 4), ('#7', 4)],
 ' joannie.williamson@enron.com': [('the', 3), ('Meeting', 2), ('October', 2)],
 ' john.lavorato@enron.com': [('the', 5), ('to', 4), ('we', 4)],
 ' jsmith@austintx.com': [('the', 6), ('TO', 6), ('I', 5)],
 ' jwills3@swbell.net': [('the', 9), ('and', 8), ('to', 7)],
 ' k..allen@enron.com': [('the', 1197), ('to', 792), ('and', 455)],
 ' kam.keiser@enron.com': [('the', 6), ('to', 6), ('you', 5)],
 ' karen.buckley@enron.com': [('to', 12), ('the', 9), ('and', 7)],
 ' kathie.grabstald@enron.com': [('your', 5), ('to', 4), ('submit', 3)],
 ' kathryn.sheppard@enron.com': [('Dial', 4), ('In', 4), ('Number:', 4)],
 ' katrina_sumey@platts.com': [('NEWGen', 2), ('This', 1), ('is', 1)],
 ' keith.holst@enron.com': [('-----Original', 4),
  ('Message-----', 2),
  ('Message-----Too', 1)],
 ' ken.shulklapper@enron.com': [('of', 21), ('the', 20), ('to', 14)],
 ' kim.ward@enron.com': [('give', 3), ('me', 3), ('a', 3)],
 ' kirk.mcdaniel@enron.com': [('the', 67), ('to', 40), ('and', 27)],
 ' ksumey@ftenergy.com': [('NEWGen', 2), ('This', 1), ('email', 1)],
 ' laura.a.de.la.torre@accenture.com': [('you', 4), ('message', 2), ('is', 2)],
 ' leanne@integrityrs.com': [('CriteriaJoe', 1),
  ('Linsalata', 1),
  ('(512)', 1)],
 ' leave-htmlnews-2508405s@lists.autoweb.com': [],
 ' lindsay.renaud@enron.com': [('you', 4), ('of', 3), ('the', 3)],
 ' lisa.jacobson@enron.com': [('to', 15), ('the', 9), ('you', 9)],
 ' lisa@techxans.org': [('(', 8), (')>>', 8), ('Co-Host', 7)],
 ' listservices@open2win.1ll0.net': [('[IMAGE]', 1)],
 ' louise.kitchen@enron.com': [('the', 19), ('to', 18), ('we', 10)],
 ' m..tholt@enron.com': [('the', 10), ('on', 8), ('of', 7)],
 ' mac.d.hargrove@rssmb.com': [('the', 1), ('dallas', 1), ('seminar', 1)],
 ' mark.whitt@enron.com': [('to', 7), ('and', 4), ('the', 4)],
 ' market-reply@listserv.dowjones.com': [('to', 12), ('you', 9), ('from', 6)],
 ' matt@fastpacket.net': [('>', 1), ('Hi,>', 1), ('Hi,', 1)],
 ' melissaspears@open2win.oi3.net': [],
 ' members@realmoney.com': [('to', 14), ('you', 14), ('the', 9)],
 ' mery.l.brown@accenture.com': [('for', 17), ('you', 16), ('to', 13)],
 ' messenger@ecm.bloomberg.com': [('(Bloomberg', 36),
  ('Energy)', 36),
  ('--', 36)],
 ' michelle.akers@enron.com': [('information', 6),
  ('confidential', 6),
  ('be', 4)],
 ' mike.grigsby@enron.com': [('to', 25), ('the', 23), ('will', 11)],
 ' mondohed@gte.net': [],
 ' monica.l.brown@accenture.com': [('message', 6), ('is', 6), ('you', 6)],
 ' morpheus@inyouremail.com': [],
 ' msimpkins@winstead.com': [('the', 11), ('L.', 7), ('to', 7)],
 ' networkcommerce-tdcd20011221@ombramarketing.com': [('[IMAGE]', 1)],
 ' networkcommerce-tdsd20011228@ombramarketing.com': [('[IMAGE]', 1)],
 ' networkcommerce-tdtl20011226@ombramarketing.com': [('[IMAGE]', 1)],
 ' news@prosrm.com': [('and', 19), ('the', 18), ('of', 16)],
 ' newsletter@pussylickingcunts.com': [('<HTML>', 1)],
 ' no.address@enron.com': [('the', 130), ('to', 100), ('and', 76)],
 ' noreply@ccomad3.uu.commissioner.com': [('-', 2),
  ('Presented', 2),
  ('by', 2)],
 ' online.service@schwab.com': [],
 ' open2win.0ll1.net@mailman.enron.com': [],
 ' oportunity@cells4free.com': [('<!--To', 1), ('put', 1), ('this', 1)],
 ' outlook-migration-team@enron.com': [('loan', 1),
  ('servicing-jessica', 1),
  ('weeber', 1)],
 ' owner-strawbale@crest.org': [('a', 4), ('of', 4), ('good', 3)],
 ' pallen70@hotmail.com': [('MSN', 3), ('your', 2), ('FREE', 2)],
 ' pam.butler@enron.com': [('-----Original', 1),
  ('Appointment-----Attendees:', 1),
  ('Pam', 1)],
 ' patti.sullivan@enron.com': [('The', 1), ('prebid', 1), ('meeting', 1)],
 ' paul.kaufman@enron.com': [('a', 6), ('the', 6), ('are', 6)],
 ' perfmgmt@enron.com': [('PHILLIP', 3), ('K,ALLEN,', 2), ('ALLEN,', 1)],
 ' philip.polsky@enron.com': [('you', 4), ('let', 4), ('me', 4)],
 ' phillip.allen@enron.com': [('the', 3096), ('to', 2016), ('on', 1553)],
 ' postmaster@glmail2.networkpromotion.com': [('[IMAGE][IMAGE][IMAGE][IMAGE]',
   1)],
 ' prizemachine@feedback.iwon.com': [],
 ' promo@info.iwon.com': [],
 ' public.relations@enron.com': [('Ken', 3), ('Lay', 3), ('and', 3)],
 ' randy.bhatia@enron.com': [('move', 3), ('into', 2), ('is', 2)],
 ' ray.alvarez@enron.com': [('the', 17), ('to', 13), ('of', 10)],
 ' rebecca.cantrell@enron.com': [('the', 9), ('are', 6), ('prices', 6)],
 ' renee.ratcliff@enron.com': [('the', 32), ('to', 14), ('and', 10)],
 ' resources.human@enron.com': [('the', 3), ('Enron', 3), ('and', 2)],
 ' richard.hash@openspirit.com': [('have', 2), ('you', 2), ('or', 2)],
 ' richard.morgan@austinenergy.com': [('a', 2), ('you', 2), ('with', 2)],
 ' richard.shapiro@enron.com': [('to', 6), ('in', 4), ('be', 4)],
 ' rick.bellows@enron.com': [('How', 1), ('are', 1), ('you', 1)],
 ' rob_tom@freenet.carleton.ca': [('to', 8), ('am', 4), ('that', 4)],
 " ryan.o'rourke@enron.com": [('is', 4), ('of', 4), ('the', 4)],
 ' sarah.novosel@enron.com': [('the', 10), ('to', 7), ('review', 5)],
 ' savita.puthigai@enron.com': [('the', 11), ('on', 7), ('will', 5)],
 ' sheri.a.righi@accenture.com': [('the', 12), ('for', 8), ('and', 5)],
 ' showtimes@amazon.com': [('[IMAGE]', 1), ('Amazon.com:', 1), ('Weekly', 1)],
 ' software@mail01.unitedmarketingstrategies.com': [('to', 2),
  ('free', 2),
  ('the', 2)],
 ' software@mail02.unitedmarketingstrategies.com': [('to', 2),
  ('free', 2),
  ('the', 2)],
 ' sprint@info.iwon.com': [],
 ' stephanie.miller@enron.com': [('to', 6), ('Any', 2), ('merit', 2)],
 ' stephanie.sever@enron.com': [('populate', 4), ('the', 4), ('for', 4)],
 ' steven.matthews@ubspainewebber.com': [('you', 2),
  ('Phillip,I', 1),
  ('hope', 1)],
 ' steven.matthews@ubspw.com': [('the', 2), ('This', 1), ('is', 1)],
 ' store-news@amazon.com': [],
 ' subscriptions@intelligencepress.com': [('you', 30),
  ('your', 20),
  ('Intelligence', 20)],
 ' technology.enron@enron.com': [('your', 5), ('the', 5), ('to', 3)],
 ' tiffany.miller@enron.com': [('you', 3), ('please', 3), ('review', 3)],
 ' tim.belden@enron.com': [('----------------------', 3),
  ('Forwarded', 3),
  ('by', 3)],
 ' tim.heizenrader@enron.com': [('on', 9), ('of', 9), ('-', 6)],
 " tim.o'rourke@enron.com": [('you', 3), ('the', 3), ('have', 3)],
 ' tracy.arthur@enron.com': [('Associate', 3),
  ('OrientationPlease', 3),
  ('confirm', 3)],
 ' txreport@skippingstone.com': [],
 ' unsubscribe-i@networkpromotion.com': [('[IMAGE][IMAGE][IMAGE][IMAGE]', 1)],
 ' usatoday1430@hotmail.kg': [('and', 16), ('the', 14), ('of', 11)],
 ' veronica.espinoza@enron.com': [('at', 6), ('is', 3), ('a', 3)],
 ' vivatrim@open2win.roi1.net': [('[IMAGE]', 1), ('This', 1), ('message', 1)],
 ' w..cantrell@enron.com': [('the', 9), ('of', 7), ('as', 5)],
 ' webmaster@earnings.com': [('you', 27), ('cannot', 27), ('read', 27)],
 ' winnerannouncements@info.iwon.com': [],
 ' wise.counsel@lpl.com': [('the', 11), ('you', 8), ('I', 5)],
 ' yahoo-delivers@yahoo-inc.com': [('and', 6), ('for', 6), ('to', 6)],
 ' yevgeny.frolov@enron.com': [('to', 16), ('the', 12), ('will', 11)],
 ' yild@zdemail.zdlists.com': [('----', 30), ('THE', 21), ('OF', 12)]}